<h1>Listing event_natures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_natures.each do |event_nature| %>
  <tr>
    <td><%= event_nature.name %></td>
    <td><%= event_nature.comment %></td>
    <td><%= link_to 'Show', event_nature %></td>
    <td><%= link_to 'Edit', edit_event_nature_path(event_nature) %></td>
    <td><%= link_to 'Destroy', event_nature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event nature', new_event_nature_path %>
