%h1
  ='Voyage Student Exchange'
  =' ('+@person.label+')' unless @owner_mode

%ul.aclist
  %li=link_to 'Modifier mon voyage', :action=>:folder_update, :id=>@person.id

%table.infos.formu
  %tr
    %td.label Du
    %td.value=I18n.localize(@person.started_on, :format=>:long)
  %tr
    %td.label Au
    %td.value=I18n.localize(@person.stopped_on, :format=>:long)
  %tr
    %td.label Pays de départ
    %td.value=@person.departure_country.name
  %tr
    %td.label Pays d'accueil
    %td.value=@person.arrival_country.name
  %tr
    %td.label Promotion
    %td.value=@person.promotion.name
  %tr
    %td.label Club d'origine
    %td.value=@person.proposer_zone.name if @person.proposer_zone
  %tr
    %td.label Club sponsor
    %td.value=@person.sponsor_zone.name if @person.sponsor_zone
  %tr
    %td.label Club hôte
    %td.value=@person.host_zone.name if @person.host_zone
  %tr
    %td.label Commentaire
    %td.value=@person.comment

%table.folder
  %tr
    %td#reports{:valign=>:top}
      %h2='Mon journal'
      %ul.aclist
        -if @reports.size>1
          %li.none=link_to("Histoire complète", {:action=>:story, :id=>@person.id}, :class=>:report)
        -for report in @reports
          %li=link_to(report.title+" ("+::I18n.localize(report.done_on)+")", {:action=>:article, :id=>report.id})
        %li.none=link_to('Ajouter un article', {:action=>:article_create, :rubric_id=>controller.conf.news_rubric_id}, :class=>:create)
        -for year in @reports2.sort
          %li
            =year[0].to_s+'&nbsp;:'
            %ul
              -for report in year[1]
                -if report[:class]=='create'
                  - if @owner_mode
                    %li.none=link_to('Créer la nouvelle pour '+report[:month].lower, {:action=>:report, :id=>report[:month_id]}, :class=>report[:class])
                -else
                  %li
                    = report[:month]+"&nbsp;: "
                    -if @owner_mode
                      = link_to(report[:title], {:action=>:report, :id=>report[:month_id]}, :class=>report[:class])
                      = ' '
                      = link_to(image_tag('buttons/update0.png'), {:action=>:report, :id=>report[:month_id]}, :class=>report[:class])
                      = link_to(image_tag('buttons/delete0.png'), {:action=>:article_delete, :id=>report[:id]}, :confirm=>confirm(:delete), :method=>:delete)
                    -else
                      = report[:title]
    %td &nbsp; &nbsp;
    %td#periods{:valign=>:top}
      %h2 Mes familles
      %ul.aclist
        -for @period in @periods
          %li
            =link_to_remote(@period.name, :url=>{:action=>:period_display, :id=>@period.id}, :update=>"period#{@period.id}")
            -if @owner_mode
              = ' '
              =link_to(image_tag('buttons/update0.png'), {:action=>:period, :id=>@period.id})
              =link_to(image_tag('buttons/delete0.png'), {:action=>:period_delete, :id=>@period.id}, :confirm=>confirm(:delete), :method=>:post)
              =#link_to(@period.name, {:action=>:period, :id=>@period.id})
            %div{:id=>"period#{@period.id}"}
              =render :partial=>'period_display', :locals=>{:owner_mode=>@owner_mode}
        %li.none=link_to('Ajouter une nouvelle période et famille', {:action=>:period}, :class=>:create)
