%h3=product.name
.dsc=product.description
.dsc
  =product.amount.to_s+"€/#{product.unit}"
  -if product.storable?
    =" &bull; Stock : #{product.current_quantity}/#{product.initial_quantity} #{product.unit}"
  -if product.deadlined?
    =" &bull; Publié du #{::I18n.localize(product.started_on)} au #{::I18n.localize(product.stopped_on)}"
  -if product.personal?
    =" &bull; Nécessite l'inscription d'invités"
  -if product.subscribing?
    =" &bull; Crée des cotisations (du #{::I18n.localize(product.subscribing_started_on)} au #{::I18n.localize(product.subscribing_stopped_on)})"
.admin
  =link_to("Modifer", edit_product_url(product))+", "
  =link_to "Supprimer", product_url(product), :method=>:delete, :confirm=>"Are you sure?"
