!!! XML utf-8
!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
  %title='Rotary District 1690 - '+@title.to_s
  = template_link_tag :membres
  = stylesheet_link_tag 'dyta', 'dyta-colors'
  = stylesheet_link_tag 'print', :media=>"print"
  = javascript_include_tag :defaults
  %body
    #header
      .column
        .flag
        -#=menu_tag
    #bodier
      .column
        =flash_tag :error
        =flash_tag :warning
        =flash_tag :notice
        #mainbody
          %table#maintable
            %tr
              -if @current_person
                -if @current_person.has_subscribed_on?(Date.today) or @current_person.admin?
                  =render(:partial=>'shared/submenu', :object=>@current_person) 
              %td.subbody{:valign=>"top"}=yield
    #footer
      .column
        .legals
          %p="Rotary District 1690 - Copyright 2008-2011 - "+request.domain
          %p=["www.rotary1690.org", "membres.rotary1690.org", "student-echange.rotary1690.org", "www.rotex1690.org"].collect{|ns| link_to(ns, "http://#{ns}")}.join(" &bull; ")
