%h1='Réponses au questionnaire&nbsp;: '+@questionnaire.name

-for answer in @answers
  .answer{:class=>answer.status, :id=>"answer"+answer.id.to_s}
    %h2
      =answer.person.label
      -if answer.locked
        =link_to("Déverrouiller la réponse", unlock_answer_url(answer), :method=>:post, :confirm=>"Etes-vous sûr(e)?")
      -elsif answer.ready
        =#link_to("Invalider la réponse", reject_answer_url(answer), :method=>:post, :confirm=>"Etes-vous sûr(e)?")
        =link_to_function("Invalider la réponse", "$('invlink#{answer.id}').hide(); $('invalidate#{answer.id}').slideDown();", :id=>"invlink#{answer.id}")
        =link_to("Verrouiller la réponse", lock_answer_url(answer), :method=>:post)
      -else
        =link_to("Valider la réponse", accept_answer_url(answer), :method=>:post, :confirm=>"Etes-vous sûr(e)?")
    -if answer.ready and !answer.locked
      .invalidate{:style=>"display:none", :id=>"invalidate#{answer.id}"}
        -form_tag(reject_answer_url(answer)) do
          =text_area_tag(:message, "Bonjour #{answer.person.first_name},\n\nJe te demande de modifier tes réponses parce que\n\n\nAmicalement,\n#{@current_person.label}", :cols=>60, :rows=>10)
          =submit_tag "Invalider la réponse"
    -for item in answer.items.find(:all, :joins=>"JOIN questions ON (question_id=questions.id)", :order=>"questions.position")
      %h3.question{:style=>"color: #{item.question.theme.foreground_color}"}=item.question.position.to_s+". "+item.question.name

      %p=item.content
  
