=link_to_function("Fermer", "$('#{params[:editor]}_iselector').hide();")
.image-list
  -for image in @images
    .image=link_to_function(image_tag(url_for_file_column(image, :document, "thumb"), :alt=>image.title, :title=>image.title), "insertion($('#{params[:editor]}'), '{{#{image.name}|#{image.title}}}', '', ''); $('#{params[:editor]}_iselector').hide();")
